* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    color: #c67d4e;
}

ul {
    list-style: none;
}

.main-header {
    height: 60px;
    background-color: #f8f9fa;
    padding: 0 56px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
}

.logo-box {
    flex: 1;
}

.logo-box img {
    width: 130px;
}

.menu {
    display: flex;
    gap: 24px;
    font-size: 20px;
}

.account-box {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 24px;
}

.account-box img {
    width: 20px;
}

/*Dựng Sub Menu Tại Menu Product*/
.menu-product {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.menu-product img {
    width: 14px;
}

.menu-product__sub-menu {
    position: absolute;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    padding: 20px 24px;
    width: 300px;
    top: 100%;
    display: none;
}

.menu-product:hover .menu-product__sub-menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Dựng danh sách giỏ hàng */
.cart {
    position: relative;
}

.cart__product-list {
    display: none;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    padding: 20px 24px;
    width: 350px;
    position: absolute;
    right: -20px;
}

.cart:hover .cart__product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart__product-list li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart__product-info {
    flex: 1;
}

.cart__product-list img {
    width: 80px;
}

.cart__remove {
    border: none;
    font-size: 12px;
    color: #fff;
    background-color: #F43C38;
    padding: 6px 10px;
}

.cart__remove:hover {
    cursor: pointer;
    opacity: 0.8;
}

.cart__remove:active {
    opacity: 1;
}

/* Dựng Section Content */
main {
    padding-top: 40px;
}

.introduction {
    width: 1140px;
    margin: 0 auto 40px auto;
    display: flex;
    gap: 56px;   
}

.introduction__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction__img-box {
    flex: 1;
}

.introduction__img-box img {
    width: 100%;
}

.introduction__content strong {
    color: #c67d4e;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    color: #212529;
    margin-bottom: 24px;
}

.introduction__content p {
    margin-bottom: 16px;
}

.introduction__content {
    align-items: flex-start;
}

.introduction__content button {
    display: flex;    
    background-color: #c67d4e;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
    border: none;  
}

.introduction__content button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.introduction__content button:active {
    opacity: 1;
}
/* Dựng Section Product List */
.products {
    width: 1140px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.products h2 {
    margin: auto;
}

.products__data-list {
    display: flex;
    justify-content: space-between;
}

.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.products__item img {
    width: 250px;
}

.products__item button {
    display: flex;    
    background-color: #c67d4e;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
    border: none;
}

.products__item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__item button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.products__item button:active {
    opacity: 1;
}

/* Dựng Footer */
footer {
    background-color: #f5f4f0;
}

.bottom-menu-container {
    width: 1140px;
    margin: auto;
    padding: 50px;
    display: flex;
}

.bottom-menu-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}

.bottom-menu_sub-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

